In [14]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd

cityDataToLoad = "PyBer_Analysis/Resources/city_data.csv"
rideDataToLoad = "PyBer_Analysis/Resources/ride_data.csv"

In [17]:
cityDatadf = pd.read_csv(cityDataToLoad)
rideDatadf = pd.read_csv(rideDataToLoad)

In [19]:
cityDatadf.count()
rideDatadf.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [20]:
cityDatadf.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [21]:
cityDatadf["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [25]:
sum(cityDatadf["type"]=="Rural")

18

In [27]:
pyberDatadf = pd.merge(rideDatadf, cityDatadf, how = "left", on=["city", "city"])
pyberDatadf.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban